@import url('reset.css');

body{
    background-image: url(Imagem/colorPalette.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*main*/

    .container {
        background: rgb(46, 46, 46);
        box-shadow: 5px 5px 15px rgba(26, 26, 26, 0.315);
        border-radius: 2px;
        margin-top: 10%;
        margin-right: 15%;
        margin-left: 15%;
        margin-bottom: 25%;
        height: 100%;
    }

    form {              
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 2vmin;
        width: 80%;

    }
    
    section {
        position: relative;
        top: 30%;
        margin-bottom: 3%;
        width: 100%;
        height: 5vmin;
        }
    
    .campo{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem 1.5rem;
        gap: 5vmin;
    }

    .campo input{
        position: absolute;
        outline: none;
        cursor: pointer;
        border: none;
        border-radius: 5vmax;
        padding: .5%; 
        top: 0;
        width: 100%;  
        height: 80%;    
        font-size: 15px;
        color: rgba(0, 0, 0, 0.7);
    }

    .campo .underline::before {
        content: '';
        position: absolute;
        height: .3vmax;
        width: 100%;
        border-radius: 2vmax;
        left: 0;
        bottom: -.1vmin;
        background: rgba(0, 0, 0, 0.2);
    }

    .campo .underline::after {
        content: '';
        position: absolute;
        height: .3vmax;
        width: 100%;
        border-radius: 2vmax;
        left: 0;
        bottom: -.1vmin;
        background: linear-gradient(to left, rgb(212, 185, 152  ), rgb(12, 12, 12));
        transform: scaleX(0);
        transition: all .4s ease-in-out;
        transform-origin: left;
    }

    .campo input:focus ~ .underline::after {
        transform: scaleX(1);
    }

    .campo input::placeholder {
        color: rgba(0, 0, 0, 0.5);
    }

    input[type="submit"] {
        padding: 7px;
        width: 100%;
        background: linear-gradient(to left, rgb(212, 185, 152), rgb(26, 26, 26));
        cursor: pointer;
        color: white;
        font-size: 16px;
        border: .1vmin solid white;
        border-radius: 5vmax;
        transition: all 0.2s ease;
    }

    input[type="submit"]:hover {
        letter-spacing: 0.5px;
        background: linear-gradient(to right, rgb(212, 185, 152), rgb(26, 26, 26));
    }

    form .campo:first-child {
        margin-bottom: 5px;
    }

    
    .google{
        padding: 7px;
        border-radius: 5vmax;
        width: 100%;
        background: red;
        color: whitesmoke;
        text-decoration: none;
        text-align: center;
    }

    .facebook {
        background: linear-gradient(to right, #2a5298, #042055);
        color: whitesmoke;
        margin-top: 10px;
        padding: 7px;
        border-radius: 5vmax;
        width: 100%;
        text-decoration: none;
        text-align: center;                             
    }

/*/MAIN*/

.pp{
    padding: 1vmax;
    text-align: center;
}

.link{
    color: rgb(5, 146, 211);
}
footer{
    width: 20%;
}