body{
    background-color: rgb(48, 48, 48);
    background-attachment: fixed;
}

aside{
    background: radial-gradient(rgb(29, 29, 29), rgb(10, 10, 10));
    height: 100vh;
    width: 15vw;
    right: 0px;
    text-align: center;
    float: right;
    position: fixed;
}

section{
    height: 100%;
    margin-right: 15vw;
    float: left;
    top: 0px;
}

section h2{
    position: absolute;
    margin-left: 15vw;
    color: rgb(168, 168, 168);
    font-size: 2.5rem;
    margin-bottom: 0px;
    top: 10vh;
    left: 0vw;
}

section .topic{
    position: relative;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer span{
    background: rgba(17, 17, 17, 0.89); 
    position: absolute;
    left: -15vw;
    width: 85vw;
    bottom: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    float: left;
}