<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <link rel="stylesheet" href="/css/style_404.css">
  <script src="/js/404.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body class="bg-purple">
          
          <div class="stars">
              <div class="custom-navbar">
                  <div class="navbar-links">
                      <ul>
                        <li><a href="/" target="_blank">Home</a></li>
                      </ul>
                  </div>
              </div>
              <div class="central-body">
                  <img class="image-404" src="http://salehriaz.com/404Page/img/404.svg" width="300px">
                  <a href="/" class="btn-go-home" target="_blank">GO BACK HOME</a>
              </div>
              <div class="objects">
                  <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="40px">
                  <div class="earth-moon">
                      <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" width="100px">
                      <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="80px">
                  </div>
                  <div class="box_astronaut">
                      <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" width="140px">
                  </div>
              </div>
              <div class="glowing_stars">
                  <div class="star"></div>
                  <div class="star"></div>
                  <div class="star"></div>
                  <div class="star"></div>
                  <div class="star"></div>
  
              </div>
  
          </div>
</body>
</html>