<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic'/>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Free From ⋆ Um Sabor Seguro</title>
</head>
<body>
    <div class="card md-3" style="background-color: aquamarine; margin-top: 10%; width: 70%; margin-left: 15%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="..." class="img-fluit rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body row mb-sm-3">
                    <h1 style= "background-color: blueviolet;" >Adicionando Produto</h1>
                    <form action="///////////////////////////////////////////////////////////////" method="post">
                        <div class="row mb-sm-3">
                            <div class="themed-grid-col col-5 mb-sm-2" style="background-color: brown;"><label for="nameProduct">Nome do Produto:</label></div>
                            <div class="themed-grid-col col mb-sm-2" style="background-color: brown;"><input type="text" name="nameProduct" id="nameProduct"></div>
                        </div>
                        <div class="row mb-sm-3">
                            <div class="themed-grid-col col-5 mb-sm-2" style="background-color: brown;"><label for="descProduct">Descrição do Produto:</label></div>
                            <div class="themed-grid-col col mb-sm-2" style="background-color: brown;"><input type="text" name="descProduct" id="descProduct"></div>
                        </div>
                        <div class="row mb-sm-3">
                            <div class="themed-grid-col col-5 mb-sm-2" style="background-color: rgb(165, 132, 42);"><label for="Categotia">Selecione Categoria</label></div>
                            <div class="themed-grid-col col mb-sm-2" style="background-color: rgb(165, 132, 42);">
                                <select class="" name="categoria" id="categoria">
                                    <option value="Free-Gluten">Sem Glúten</option>
                                    <option value="Free-Trigo">Trigo</option>
                                    <option value="Lactose">Lactose</option>
                                    <option value="Leite de Vaca">Leite de Vaca</option>
                                    <option value="Ovo">Ovo</option>
                                    <option value="Amendoin">Amendoin</option>
                                    <option value="Castanhas">Castanhas</option>
                                    <option value="Soja">Soja</option>
                                    <option value="Peixe">Peixe</option>
                                    <option value="Frutos do Mar">Frutos do Mar</option>
                                    <option value="Açucar">Açucar</option>
                                    <option value="Aditivos alimentares">Aditivos alimentares</option>
                                    <option value="Carne/Vegetariano">Carne/Vegetariano</option>
                                    <option value="De origem animal/Vegano">De origem animal/Vegano</option>
                                    <option value="Fitness">Fitness</option>
                                    <option value="Outros">Outros</option>
                                </select>
                            </div>
                            <div class="row mb-sm-3">
                                <div class="themed-grid-col gap-lg-5 col-5 mb-sm-2" style="background-color: brown;"><label for="imgProduct">Insira imagens do produto</label></div>
                                <div class="themed-grid-col col mb-sm-2" style="background-color: brown; width: 50%"><input type="file" src="" alt="" style="width: 50%;"></div>
                            </div>
                            <div class="row mb-sm-3" style="width: 100%;">
                                <div class="themed-grid-col col-5 mb-sm-2" style="background-color: rgb(165, 132, 42);"><label for="nameProduct">Preço:</label></div>
                                <div class="themed-grid-col col mb-sm-2" style="background-color: rgb(165, 132, 42);"><input type="number" name="nameProduct" id="nameProduct"></div>
                            </div>
                            <div class="row mb-sm-3">
                                <div class="themed-grid-col col-5 mb-sm-2" style="background-color: brown;"><label for="nameProduct">Estoque:</label></div>
                                <div class="themed-grid-col col mb-sm-2" style="background-color: brown;"><input type="number" name="nameProduct" id="nameProduct"></div>
                            </div>
                            <div class="btn">
                                <button type="reset">Cancelar</button>
                                <button type="submit">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html> -->




<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Cadastro</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/style_Cadst.css">
        <link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic'/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    </head>

    <body>
        <!--Conteúdo do FORMULÁRIO-->
        <% if(vendedor){ %>
        <main class="container">
            <form method="post" action="/upload" enctype="multipart/form-data">
                <% if(errado){ %>
                    <%- include('./includes/messages.ejs') %>
                <% } %>
                <h2>Cadastrar Produto</h2> 


                <section class="campo">
                    <input type="text" name="nome" id="nome"
                        placeholder="Nome do produto*" required>
                    <div class="underline"></div>
                </section>  


                <section class="campo">
                    <input type="text" name="descricao" id="descricao"
                        placeholder="Descricao do produto*" required>
                    <div class="underline"></div>
                </section>


                <section class="campo">
                    <input type="number" name="preco" id="preco"
                        placeholder="Preco*" required>
                    <div class="underline"></div>
                </section> 


                <section class="campo">
                    <input type="number" name="estoque" 
                    placeholder="Quantidade no estoque*" id="estoque" required>
                    <div class="underline"></div>
                </section>

                <div class="select-uf">
                    <select name="categoria">
                        <option value="Vegano">Vegano</option>
                        <option value="Zero lactose">Sem lactose</option>
                        <option value="Zero glutem">Sem glutem</option>
                    </select>
                </div>

                <label for="img">Imagem</label>
                <input type="file" name="file">
                
                <input type="reset" value="Resetar">
                <input type="submit" value="Enviar">
            
                <p class="pp">Ou</p>
                <a class="google" href="#">Continue com Google</a>
                <a class="facebook" href="#">Continue com Facebook</a>
                <p class="pp">Já se cadastrou?<a class="link" href="_Login">Entre</a></p>
            </form>
            <% }else{ %>
                <h2>Você não tem permissão para esta ação!!, logue como vendedor ou se cadastre para poder adicionar produtos!!</h2>
            <% } %>
        </main>
        <!--Rodapé-->
        <!-- <footer>
        </footer> -->
        <script src="./assets/js/bundle.js"></script>
    </body>
</html>