<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" type="text/css" href="descricaoProduto/" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="descricaoProduto/demo.css" />
    <link rel="stylesheet" href="style_desc.css">
    <link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic'/>    
</head>
<body>
    <article class="container">

        <!-------------- [INICO] FOTOS DE DEMONSTRAÇÃO DO PRODUTO--------------->
        <section class="slide" id="box">
            <div class="wrapper">
                <div id="ei-slider" class="ei-slider">
                    <ul class="ei-slider-large">
                        <li>
                            <img src="Imagem/PomeloMiniPizza.jpg" alt="image01" />
                            <div class="ei-title">
                                <h3>Sabor</h3>
                                <h2>Criativo</h2>
                            </div>
                        </li>
                        <li>
                            <img src="Imagem/PomeloAlmocoPanqueca.jpg" alt="image02" />
                            <div class="ei-title">
                                <h3>Maior</h3>
                                <h2>Praticidade</h2>
                            </div>
                        </li>
                        <li>
                            <img src="Imagem/PomeloOvos.jpg" alt="image03"/>
                            <div class="ei-title">
                                <h3>Na Hora de comprar,</h3>
                                <h2>Tranquiliade</h2>
                            </div>
                        </li>
                        <li>
                            <img src="Imagem/PomeloMacarrons.jpg" alt="image04"/>
                            <div class="ei-title">
                                <h3>Subítulo</h3>
                                <h2>Título</h2>
                            </div>
                        </li>
                        <li>
                            <img src="Imagem/PomeloFolhado.jpg" alt="image05"/>
                            <div class="ei-title">
                                <h3>Subítulo</h3>
                                <h2>Título</h2>
                            </div>
                        </li>
                        <li>
                            <img src="Imagem/PomeloCereal.jpg" alt="image06"/>
                            <div class="ei-title">
                                <h3>Subítulo</h3>
                                <h2>Título</h2>
                            </div>
                        </li>
                        <li>
                            <img src="Imagem/PomeloBolinho.jpg" alt="image07"/>
                            <div class="ei-title">
                                <h3>Subítulo</h3>
                                <h2>Título</h2>
                            </div>
                        </li>
                    </ul>
                    
                    <!-- ei-slider-large -->
                    <ul class="ei-slider-thumbs">
                        <li class="ei-slider-element">Current</li>
                        <li><a href="#">Slide 1</a></li>
                        <li><a href="#">Slide 2</a></li>
                        <li><a href="#">Slide 3</a></li>
                        <li><a href="#">Slide 4</a></li>
                        <li><a href="#">Slide 5</a></li>
                        <li><a href="#">Slide 6</a></li>
                        <li><a href="#">Slide 7</a></li>
                        
                    </ul>
                    <!-- ei-slider-thumbs -->
                </div>
            </div><!-- wrapper -->
            <script type="text/javascript" src="descricaoProduto/slide.min.js"></script>
            <script type="text/javascript" src="descricaoProduto/eiSlideShow.js"></script>
            <script type="text/javascript" src="descricaoProduto/slide.js"></script>
            <script type="text/javascript">
                $(function() {
                    $('#ei-slider').eislideshow({
                        easing		: 'easeOutExpo',
                        titleeasing	: 'easeOutExpo',
                        titlespeed	: 1200
                    });
                });
            </script>
        </section>
        <!---------- [FIM] FOTOS DE DEMONSTRAÇÃO DO PRODUTO------------->

        <!-- [INICO] SESSÃO DE **INFORMAÇÕES** DO PRODUTO-->
        <section class="info" id="box">
            <h3>Kit 10 Sequilhos Leite Sem Lactose E Sem Glúten 100g Nazinha</h3>
            <h3 class="valor"><b> R$34,76</b></h3>
            <div class="star">
                <ul class="avaliacao" id="info">
                    <li class="star-icon ativo" data-avaliacao="1"></li>
                    <li class="star-icon" data-avaliacao="2"></li>
                    <li class="star-icon" data-avaliacao="3"></li>
                    <li class="star-icon" data-avaliacao="4"></li>
                    <li class="star-icon" data-avaliacao="5"></li>
                </ul>
            </div>
            <p>0 Avaliações</p>
            <p>0 Vendidos</p>
            <div class="btn">
            <button><a href="#">Adicionar ao carrinho</a></button>
            <button><a href="#">Comprar</a></button>
            </div>
            <button id="like">
                <div class="label">
                  <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.4 5.25C5.61914 5.25 3.25 7.3293 3.25 10.0298C3.25 11.8927 4.12235 13.4612 5.27849 14.7604C6.43066 16.0552 7.91714 17.142 9.26097 18.0516L11.5796 19.6211C11.8335 19.793 12.1665 19.793 12.4204 19.6211L14.739 18.0516C16.0829 17.142 17.5693 16.0552 18.7215 14.7604C19.8777 13.4612 20.75 11.8927 20.75 10.0298C20.75 7.3293 18.3809 5.25 15.6 5.25C14.1665 5.25 12.9052 5.92214 12 6.79183C11.0948 5.92214 9.83347 5.25 8.4 5.25Z" fill="black"/>
                  </svg>
                </div>
                <div class="number" id="number">50</div>
              </button>
              <div class="compartilha">
                <div class="whats"><a href="https://api.whatsapp.com" target="_blank">whats</a></div>
                <div class="face"><a href="https://www.facebook.com" target="_blank">face</a></div>
                <div class="insta"><a href="https://www.instagram.com" target="_blank">Insta</a></div>
                <div class="pint"><a href="https://br.pinterest.com" target="_blank">Pin</a></div>
              </div>
        </section>
        <!-- [FIM] SESSÃO DE INFORMAÇÕES DO PRODUTO-->
        
        <!-- [INICO] SESSÃO DE LOGISTA-->
        <section class="loja" id="box">
            <div class="idem">
                <a href="_PerfilLoja">
                <img class="mini-ft-perfil" src="Imagem/is14667-image.jpg"><!--COLOCAR FOTO DE PERFIL DA LOJA-->
                <h5>Nome Da Loja</h5>
                <h6>Slogan</h6>
                </a>
            </div>
            <div class="reputacao">
                <p>Seguidores</p>
                <p>Seguindo</p>
                <ul class="avaliacao" id="loja">
                    <li class="star-icon ativo" data-avaliacao="1"></li>
                    <li class="star-icon" data-avaliacao="2"></li>
                    <li class="star-icon" data-avaliacao="3"></li>
                    <li class="star-icon" data-avaliacao="4"></li>
                    <li class="star-icon" data-avaliacao="5"></li>
                </ul>
            </div>
            <div class="btn">
                <button class="seguir">Seguir</button>
                <button class="cv">Conversar agora</button>
            </div>
        </section>
        <!-- [FIM] SESSÃO DE LOGISTA-->

        <!-- [INICO] SESSÃO DE DETALHES DO PRODUTO-->
        <section class="detalhe" id="box">
            <h4>Detalhes do Produto</h4>
            <div class="box">
                    <table> 
                        <tr>    
                            <th>Fabricante</th>  
                            <td>Nazinha</td>     
                        </tr>
                        <tr>     
                            <th>Marca</th>  
                            <td>Nazinha</td>     
                        </tr>
                        <tr>     
                            <th>Nome</th>  
                            <td>Sequilhos Leite</td>     
                        </tr>
                        <tr>     
                            <th>Sabor</th>  
                            <td>Leite</td>     
                        </tr>
                        <tr>     
                            <th>Peso líquido</th>  
                            <td>1kg</td>     
                        </tr>
                        <tr>     
                            <th>Formato de venda</th>  
                            <td>Kit</td>     
                        </tr>
                        <tr>     
                            <th>Unidades por kit</th>  
                            <td>10</td>     
                        </tr>
                        <tr>     
                            <th>Peso da unidade</th>  
                            <td>100g</td>     
                        </tr>     
                        </tr>
                    </table>
            </div>
        </section>
        <!-- [FIM] SESSÃO DE DETALHES DO PRODUTO-->

        <!-- [INICO] SESSÃO DE DESCRIÇÃO DO PRODUTO-->
        <section class="desc" id="box">
            <h4>Descrição do Produto</h4>
            <div class="box">
                <p>Os biscoitos Bauducco são muito saborosos, crocantes e irresistíveis. É um produto muito conhecido no mercado com garantia de qualidade Bauducco.
                    Ideal para servir em coffee breaks, cafés da manhã, quartos de hotel, clínicas e consultórios. <br>
                    Por ser embalado um a um é econômico e prático.</p>
                <p>O PRODUTO É COTADO PELO PESO, VALORES UNITARIOS SÃO APENAS UMA ESTIMATIVA</p>
                <p>52* SACHES BISCOTIO CHOCOLATE - 728g <br>
                    52* SACHES BISCOITO LEITE - 673G <br>
                    52* SACHES BISCOITO GOTAS DE CHOCOLATE - 711G <br>
                    52* SACHES BISCOITO BANANA COM CANELA - 773G <br>
                    52* SACHES BISCOITO MAISENA - 502G <br>
                    60* SACHES BISCOITO SALGADO CREAM CRACKER 651G <br>
                    (COM 2 BISCOITOS EM CADA SACHE)</p>
                <p>Validade mínima de 8 meses</p>
                <p>*ATENÇÃO* os biscoito são pesados e o valor calculado de acordo com o peso, as unidade são apenas uma estimativa</p>
                <div class="ingrd">
                    <dl>
                        <dt>INGREDIENTES:</dt>
                            <dd>Amido de milho</dd>
                            <dd>Açúcar</dd>
                            <dd>Amido de mandioca</dd>
                            <dd>Gordura vegetal de palma</dd>
                            <dd>Ovo</dd>
                            <dd>Sal</dd>
                            <dd>Aromatizante</dd>
                    </dl>
                </div>
            </div>
        </section>
        <!-- [FIM] SESSÃO DE DETALHES DO PRODUTO-->

        <!-- [INICO] SESSÃO DE AVALIAÇÃO DO PRODUTO-->
        <section class="avlic" id="box">
            <h4>Avaliações do Produto</h4>

            <!-- [INICO] 5 ESTRELAS⭐⭐⭐⭐⭐-->
            <section class="clasfc">
                <h6>5.0</h6>
                <ul class="avaliacao" id="produto">
                    <li class="star-icon ativo" data-avaliacao="1"></li>
                    <li class="star-icon" data-avaliacao="2"></li>
                    <li class="star-icon" data-avaliacao="3"></li>
                    <li class="star-icon" data-avaliacao="4"></li>
                    <li class="star-icon" data-avaliacao="5"></li>
                </ul>
                <p>4 opiniões</p>
                <script type="text/javascript" src="../../stars.js"></script>
            </section>
            <!-- [fim] 5 ESTRELAS⭐⭐⭐⭐⭐-->
    
            <!-- [INICO] CAIXA DE COMENTÁRIOS-->
            <div class="box">
                <div class="comentario">
                    <div class="user">
                        <img class="mini-ft-perfil-user" src="Imagem/texturaDeCamurca.jpg">
                        <a>Nome de Usuário</a>
                        <ul class="avaliacao" id="produto">
                            <li class="star-icon ativo" data-avaliacao="1"></li>
                            <li class="star-icon" data-avaliacao="2"></li>
                            <li class="star-icon" data-avaliacao="3"></li>
                            <li class="star-icon" data-avaliacao="4"></li>
                            <li class="star-icon" data-avaliacao="5"></li>
                        </ul>
                    </div>
                    <div class="txt">
                        <h6>Boa qualidade e prático</h6>
                        <p>Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.</p>
                    </div>
                </div>
                <div class="comentario">
                    <div class="user">
                        <img class="mini-ft-perfil-user" src="Imagem/texturaDeCamurca.jpg">
                        <a>Nome de Usuário</a>
                        <ul class="avaliacao" id="produto">
                            <li class="star-icon ativo" data-avaliacao="1"></li>
                            <li class="star-icon" data-avaliacao="2"></li>
                            <li class="star-icon" data-avaliacao="3"></li>
                            <li class="star-icon" data-avaliacao="4"></li>
                            <li class="star-icon" data-avaliacao="5"></li>
                        </ul>
                    </div>
                    <div class="txt">
                        <h6>Boa qualidade e prático</h6>
                        <p>Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.</p>
                    </div>
                </div>
                <div class="comentario">
                    <div class="user">
                        <img class="mini-ft-perfil-user" src="Imagem/texturaDeCamurca.jpg">
                        <a>Nome de Usuário</a>
                        <ul class="avaliacao" id="produto">
                            <li class="star-icon ativo" data-avaliacao="1"></li>
                            <li class="star-icon" data-avaliacao="2"></li>
                            <li class="star-icon" data-avaliacao="3"></li>
                            <li class="star-icon" data-avaliacao="4"></li>
                            <li class="star-icon" data-avaliacao="5"></li>
                        </ul>
                    </div>
                    <div class="txt">
                        <h6>Boa qualidade e prático</h6>
                        <p>Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.</p>
                    </div>
                </div>
                <div class="comentario">
                    <div class="user">
                        <img class="mini-ft-perfil-user" src="Imagem/texturaDeCamurca.jpg">
                        <a>Nome de Usuário</a>
                        <ul class="avaliacao" id="produto">
                            <li class="star-icon ativo" data-avaliacao="1"></li>
                            <li class="star-icon" data-avaliacao="2"></li>
                            <li class="star-icon" data-avaliacao="3"></li>
                            <li class="star-icon" data-avaliacao="4"></li>
                            <li class="star-icon" data-avaliacao="5"></li>
                        </ul>
                    </div>
                    <div class="txt">
                        <h6>Boa qualidade e prático</h6>
                        <p>Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.</p>
                    </div>
                </div>
            </div>
            <!-- [fim] CAIXA DE COMENTÁRIOS-->
        </section>
        <!-- [fim] SESSÃO DE AVALIAÇÃO DO PRODUTO-->
    </article>

    <footer>
    </footer>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>