<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style_produtos.css">
    <link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic'/>
    <title>Free From ⋆ Um Sabor Seguro</title>
</head>
<body>
    <!--Menu-->
    <header>

        <input type="checkbox" id="check">
        <label id="icone" for="check">
            <img src="Img/iconeMenu.png">
        </label>

        <div class="barra">
            <nav class="menu">
                <ul>   
                    <li><div class="menu"><a href="/">Início</a></div></li>
    
                    <li><div class="aq"><a href="#">Produtos</a></div></li>
                    <!--
                    <li><div class="menu"><a href="#">Receitas</a></div></li>

                    <li>
                        <div class="menu"><a href="#">Categorias▾</a></div>
                        <ul>
                            <li class="subMenu"><a href="#">Tudo</a></li>
                            <li class="subMenu"><a href="#">Granel</a></li>
                            <li class="subMenu"><a href="#">Frutas Secas</a></li>
                            <li class="subMenu"><a href="#">Oleaginosas</a></li>
                            <li class="subMenu"><a href="#">Farinhas</a></li>
                            <li class="subMenu"><a href="#">Adoçantes</a></li>
                            <li class="subMenu"><a href="#">Temperos</a></li>
                            <li class="subMenu"><a href="#">Suplementos</a></li>
                        </ul>
                    </li>-->

                    <li><div class="menu"><a href=#>Carrinho</a></div></li>

                    
                    <li>
                        <div class="menu"><a href="#">Mais▾</a></div>
                        <ul>
                            <li class="subMenu"><a href="#">Vender</a></li>
                            <!--<li class="subMenu"><a href="#">Frete</a></li>-->
                            <li class="subMenu"><a href="_Sobre">Sobre Nós</a></li>
                        </ul>
                    </li>

                    <li>
                        <div class="menu"><a href="#">Conta▾</a></div>
                        <ul>
                            <li class="subMenu"><a href="_Cadastro" target="_blank">Cadastrar</a></li>
                            <li class="subMenu"><a href="_Login" target="_blank">Entrar</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!--
        <div class="busca">
            <form action="/_Produtos.html" method="get">
                <div class="campo">
                  <input type="text" name="pesquisa" placeholder="Pesquise o que você deseja">
                  <input type="submit" value="Buscar">
                </div>
            </form>
        </div>

        <section class="cat">
                    <div class="fileira" id="f1">
                        <div class="check">
                            <input type="checkbox" name="categoria" class="categoria">
                            <label for="gluten"> Glúten</label>                                
                        </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Trigo"> Trigo</label>
        
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Lactose"> Lactose</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="LeiteVaca"> Leite de Vaca</label>
                    </div>
                </div>
                <div class="fileira" id="f2">
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Ovo"> Ovo</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Amendoin"> Amendoin</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Castanhas"> Castanhas</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Soja"> Soja</label>
                    </div>
                </div>
                <div class="fileira" id="f3">
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Peixe"> Peixe</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="FrutosMar"> Frutos do Mar</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Acucar"> Açucar</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="AditivosAlimentares"> Aditivos alimentares</label>
                    </div>
                </div>
                <div class="fileira" id="f4">
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Vegetariano"> Carne/Vegetariano</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Vegano"> De origem animal/Vegano</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Fitness"> Fitness</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Outros"> Outros</label>
                    </div>
                </div>
                </section>-->
    </header>
    <main>        
        <div class="cards"><!----------------FILEIRA DE CARTÕES-->
            <section class="card contact"><!--CARTÃO INDIVIDUAL-->
                <div class="icon"><!--ESPAÇO DA CAPA-->
                    <img src="Img/PomeloBolinho.jpg" alt="Contact us.">
                </div>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                <a href="_descricaoProduto">Veja Mais</a> 
            </section>
            <section class="card shop"><!--CARTÃO INDIVIDUAL-->
                <div class="icon"><!--ESPAÇO DA CAPA-->
                    <img src="Img/PomeloMacarrons.jpg" alt="Shop here.">
                </div>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                <a href="_descricaoProduto">Veja Mais</a>
            </section>
            <section class="card about"><!--CARTÃO INDIVIDUAL-->
                <div class="icon"><!--ESPAÇO DA CAPA-->
                    <img src="Img/PomeloCereal.jpg" alt="About us.">
                </div>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                <a href="_descricaoProduto">Veja Mais</a>
            </section>
        </div>  
        <div class="cards"><!----------------FILEIRA DE CARTÕES-->
            <section class="card contact"><!--CARTÃO INDIVIDUAL-->
                <div class="icon"><!--ESPAÇO DA CAPA-->
                    <img src="Img/PomeloBolinho.jpg" alt="Contact us.">
                </div>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                <a href="_descricaoProduto">Veja Mais</a>
            </section>
            <section class="card shop"><!--CARTÃO INDIVIDUAL-->
                <div class="icon"><!--ESPAÇO DA CAPA-->
                    <img src="Img/PomeloMacarrons.jpg" alt="Shop here.">
                </div>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                <a href="_descricaoProduto">Veja Mais</a>
            </section>
            <section class="card about"><!--CARTÃO INDIVIDUAL-->
                <div class="icon"><!--ESPAÇO DA CAPA-->
                    <img src="Img/PomeloCereal.jpg" alt="About us.">
                </div>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                <a href="_descricaoProduto">Veja Mais</a>
            </section>
        </div>  
        <div class="cards"><!----------------FILEIRA DE CARTÕES-->
            <section class="card contact"><!--CARTÃO INDIVIDUAL-->
                    <div class="icon"><!--ESPAÇO DA CAPA-->
                        <img src="Img/PomeloBolinho.jpg" alt="Contact us.">
                    </div>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                    <a href="_descricaoProduto">Veja Mais</a>
            </section>
            <section class="card shop"><!--CARTÃO INDIVIDUAL-->
                <div class="icon"><!--ESPAÇO DA CAPA-->
                    <img src="Img/PomeloMacarrons.jpg" alt="Shop here.">
                </div>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                <a href="_descricaoProduto">Veja Mais</a>
            </section>
            <section class="card about"><!--CARTÃO INDIVIDUAL-->
                <div class="icon"><!--ESPAÇO DA CAPA-->
                    <img src="Img/PomeloCereal.jpg" alt="About us.">
                </div>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                <a href="_descricaoProduto">Veja Mais</a>
            </section>
        </div>  
    </main>
    <footer></footer>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>
