<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Presentation</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" type="text/css" href="demo.css" />
        <link rel="stylesheet" type="text/css" href="style_slide.css" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />
   </head>
    <body>
        <div class="container">
        
            <h1>Title</h1>
            <div class="wrapper">
                <div id="ei-slider" class="ei-slider">
                    <ul class="ei-slider-large">
                        <li>
                            <img src="/Imagem/PomeloMiniPizza.jpg" alt="image01" />
                            <div class="ei-title">
                                <h2>Creative</h2>
                                <h3>Duet</h3>
                            </div>
                        </li> 
                        <li>
                            <img src="Imagem/PomeloAlmocoPanqueca.jpg" alt="image02" />
                            <div class="ei-title">
                                <h2>Friendly</h2>
                                <h3>Devil</h3>
                            </div>
                        </li>
                        <li>
                            <img src="Imagem/PomeloOvos.jpg" alt="image03"/>
                            <div class="ei-title">
                                <h2>Tranquilent</h2>
                                <h3>Compatriot</h3>
                            </div>
                        </li>
                        <li>
                            <img src="Imagem/PomeloMacarrons.jpg" alt="image04"/>
                            <div class="ei-title">
                                <h2>Insecure</h2>
                                <h3>Hussler</h3>
                            </div>
                        </li>
                        <li>
                            <img src="Imagem/PomeloFolhado.jpg" alt="image05"/>
                            <div class="ei-title">
                                <h2>Loving</h2>
                                <h3>Rebel</h3>
                            </div>
                        </li>
                        <li>
                            <img src="Imagem/PomeloCereal.jpg" alt="image06"/>
                            <div class="ei-title">
                                <h2>Passionate</h2>
                                <h3>Seeker</h3>
                            </div>
                        </li>
                        <li>
                            <img src="Imagem/PomeloBolinho.jpg" alt="image07"/>
                            <div class="ei-title">
                                <h2>Crazy</h2>
								<h3>Friend</h3>
                            </div>
                        </li>
                    </ul>
                    
                    <!-- ei-slider-large -->
                    <ul class="ei-slider-thumbs">
                        <li class="ei-slider-element">Current</li>
                        <li><a href="#">Slide 1</a></li>
                        <li><a href="#">Slide 2</a></li>
                        <li><a href="#">Slide 3</a></li>
                        <li><a href="#">Slide 4</a></li>
                        <li><a href="#">Slide 5</a></li>
                        <li><a href="#">Slide 6</a></li>
                        <li><a href="#">Slide 7</a></li>
                        
                    </ul>
                    <!-- ei-slider-thumbs -->
                </div>
            </div><!-- wrapper -->
        </div>
        <script type="text/javascript" src="jquery.min.js"></script>
        <script type="text/javascript" src="eiSlideShow.js"></script>
        <script type="text/javascript" src="jquery.js"></script>
        <script type="text/javascript">
            $(function() {
                $('#ei-slider').eislideshow({
					easing		: 'easeOutExpo',
					titleeasing	: 'easeOutExpo',
					titlespeed	: 1200
                });
            });
        </script>
    </body>
</html>